 *{
     margin : 0; 
     padding : 0;
 }
 #container
 {
     width : 100%;
     
 }

 
 
 #container h2{
    color:darkcyan;
    text-align: center;
    font-family: tahoma;
    font-weight: 800;
    text-align: center;
    margin: 10px;
}

#container img{
    width:  350px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-sizing: border-box;
}
 
#container h4{
    color:darkcyan;
    font-family: tahoma;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    }
#container h5{
    color:seagreen;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

    }

#container p{
    text-align: justify;
    font-size:14px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: tahoma;
    box-sizing: border-box;
}

.content_1{
    float : left;
    width : 32%;
}

.content_2{
    float : left;
    width : 32%;
    margin-left: 2%;;
}
.content_3{
    float : left;
    width : 32%;
    margin-left: 2%;
}