 *{
     margin : 0; 
     padding : 0;
 }
 #container
 {
     width : 960px;
 }

 
 
 #container h2{
    color:darkcyan;
    text-align: center;
    font-family: tahoma;
    font-weight: 800;
    text-align: center;
}

#container img{
    width:  250px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-sizing: border-box;
}
 
#container h4{
    color:darkcyan;
    font-family: tahoma;
    font-weight: bold;
    text-align: center;
    }
#container h5{
    color:seagreen;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

    }

#container p{
    text-align: justify;
    font-size:14px;
    padding: 10px;
    font-family: tahoma;
}

.content_1{
    float : left;
    width : 300px;
    
}

.content_2{
    float : left;
    width : 300px;
    margin-left: 30px;
}
.content_3{
    float : left;
    width : 300px;
    margin-left: 30px;
}